:root {
  --dark-brown-color: rgb(93, 62, 39);
  --teal-color: rgb(161, 214, 175);
  --light-beige-color: rgb(247, 240, 190);
  --dark-red-color: rgb(210, 99, 54);
  --light-red-color: rgb(224, 143, 65);
  --lighter-beige-color: rgb(240, 230, 210);
  --coral-color: rgb(212, 90, 85);
  --green-color: rgb(139, 135, 88);


}

* { margin: 0; padding: 0; }

/******************************************************************************************************/
/************************************************ MENU HEADER************************************************/
/******************************************************************************************************/

div.header {
  width: 100%;
  height: 100px;
  top: 0;

  background-blend-mode: multiply;

    background-color: var(--teal-color);
    border-top: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom: 10px;
    border-color: var(--dark-brown-color);
    border-style: solid;

    position: fixed;
    z-index: 1;
    padding-top: 30px; 

    background-image: url("9-96748_grunge-texture-by-fictionchick-grunge-texture-overlay-png.jpeg");
   background-repeat: no-repeat;
        background-size: cover;
    background-position: center;
}

div.doily{
   background-image: url("doily.png");
   background-repeat: no-repeat;
        background-size: cover;
    background-position: center;
    z-index: 10;
    width: 600px;
  height: 610px;
  top: -450px;
  left: -100px;
  position: fixed;
}

div.login_form {
   width: 250px;
  height: 55px;
  top: 50px;
  left: 67%;
  padding: 10px;
  position: absolute;
  background-color: var(--light-red-color);
  /*background-image: url("login.png");*/
   background-repeat: no-repeat;
        background-size: contain;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

div.header_brown {
  width: 40%;
  height: 8%;
  position: fixed;

  background-color: var(--dark-brown-color);
  border-color: var(--light-beige-color);
  border-style: solid;
  border-width: 1px;

  margin: auto 20px auto 100px;
  padding-top: 10px; 


  font-family: "Blue Fires", Times, serif;
  font-size: 20px;
  text-align: center;
  color: var(--light-beige-color);
   text-shadow: 2px 2px 3px var(--dark-brown-color); 

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 120;
}

div.menu{
 width: 150px;
  height: 50px;
  top: -10px;
  position: fixed;

font-family: "Blue Fires", Times, serif;
  font-size: 20px;
  text-align: center;
  color: var(--light-beige-color);
    text-shadow: 2px 2px 3px var(--dark-brown-color); 


    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

div.menu_btn1 {
   left: 60%;
   background-image: url("menu_btn1.png");
}
div.menu_btn2 {
   left: 67%;
   background-image: url("menu_btn2.png");
}
div.menu_btn3 {
   left: 74%;
   background-image: url("menu_btn3.png");
}
div.menu_btn4 {
   left: 81%;
   background-image: url("menu_btn4.png");
}

/******************************************************************************************************/
/*******************************************  DAY PAGE  *************************************************/
/******************************************************************************************************/


div.day_card {
  margin: 5px;
  /*border: 1px solid #ccc;*/
  float: left;

  width: 320px;
  height: 450px;
   overflow: hidden;
   object-fit: contain;
    /*object-position: -50% 0;*/
 filter: blur(0px) !important;
  
    /*background-image: url("day2.png");*/
   background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    margin: 30px auto 30px auto;
    padding: 15px;
    position: relative;
    text-align: center;
    opacity: 1;

    font-family: "Blue Fires", Times, serif;
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px 3px var(--dark-brown-color); 

  color: var(--light-beige-color);
}

div.day_card.Monday {
  background-image: url("day1.png");
  margin-left: 80px;

}
div.day_card.Tuesday {
  background-image: url("day2.png");
}
div.day_card.Wednesday {
  background-image: url("day3.png"); 
}


div.day_card.Thursday{
  background-image: url("day3.png");
  margin: 10px 0px 10px 0px;
    padding: 15px 10px 15px 10px;
}
div.day_card.Friday {
  background-image: url("day4.png");
  margin: 10px 0px 10px 0px;
  padding: 15px 10px 15px 10px;
}
div.day_card.Saturday{
  background-image: url("day1.png");
  margin: 10px 0px 10px 0px;
  padding: 15px 10px 15px 10px;
}
div.day_card.Sunday{
  background-image: url("day2.png");
  margin: 10px 0px 10px 0px;
  padding: 15px 10px 15px 10px;
}

div.meal_item  {
  width: 70%;
  height: 45px;
  margin: 20px auto 10px auto;
  background-color: var(--light-beige-color);

  font-family: "Ana's Rusty Typewriter", Times, serif;
    text-align: center;
    color: var(--dark-brown-color);
    font-size: 15px;

  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
}

div.meal_img {
  width: 30px;
  height: 30px;
  float: right;
  right: 10px;
  margin: 5px;
  border-radius: 4px;
  overflow: hidden;
   object-fit: contain;

}

div.meal_text {
  width: 70%;
  height: 30px;
  float: left;
  right: 0px;
}

.days_list{
  background-repeat: no-repeat;
  background-image: url("800px_COLOURBOX3796929.jpg");
  background-size: 100%;
  background-size: cover; 
  /*background-blend-mode: lighten;*/
  background-color: rgb( 0, 0, 0);

  height: 1070px;
  width: 100%;
 -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
      animation: fadein 1s;

      margin-top: 140px;
}

.look_item_btn {
  display: none;
  position: fixed;
  right: 50px;

   -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
      animation: fadein 1s;

  background-image: url("add_btn.png");
   background-size: contain;
    background-position: center;
  width:15px;
  height: 15px;
  
}

.add_item_btn {
  display: none;
  position: fixed;
  top: 20px;
  left:80%;
  z-index: 100;

   -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
      animation: fadein 1s;

  background-image: url("round_add_btn.png");
   background-size: contain;
    background-position: center;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
    font-size: 20px;
  width:35px;
  height: 35px;
  
}

.delete_item_btn {
  display: none;
   position: fixed;
  left: 50px;
   -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
      animation: fadein 1s;

      background-image: url("delete_btn.png");
   background-size: contain;
    background-position: center;
  width:15px;
  height: 15px;
}


div.meal_item:hover  .look_item_btn, div.meal_item:hover  .delete_item_btn, div.day_card:hover .add_item_btn{
    display: block;
    
}

div.day_list_girl{
  background-image: url("RetroSombrero.png");
   background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


    height: 400px;
    width: 400px;

    margin-right: 0px;
    padding-right: 0px;

  position: fixed;
  right: 0;
  top: 30%;
   -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 1s;
  transform: translate3d(20px, 0, 0);
  transition: transform 1.1s cubic-bezier(0, .52, 0, 1)
}

div.invisible{
    transform: translate3d(340px, 0, 0);
  /*transition: transform .9s cubic-bezier(0, .52, 0, 1)*/

}

.macros_div {
  font-size: 10px;
  position: absolute;
  bottom: 20px;
  left: 30%;
}


/******************************************************************************************************/
/*******************************************  RECIPES  **************************************************/
/******************************************************************************************************/


div.recipe_card.chosen {
    box-shadow: 0 14px 18px 0 var(--teal-color), 0 16px 30px 0 var(--teal-color);
     /*!important;*/

} 

div.recipe_card {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  padding: 0px;

  width: 30%;
  height: 250px;
   overflow: hidden;

   object-fit: cover;
    object-position: -50% 0;

  border-radius: 5px;
  /*background-color: white;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin: 10px;
    position: relative;

    background-repeat: no-repeat;
    background-image: url("vintage-recipe-cards_115616.jpg");
    background-size: 100% 100%;

    /*font-style: italic;*/
    font-family: "Ana's Rusty Typewriter", Times, serif;
    text-align: center;

}

div.recipe_card .recipe_card_img {
  width: 80px;
  height: 70px;
  position: absolute;
  left: 10%;
  top: 3%;
  margin-top: 0px;

    border-radius: 5px;
    /*border-color: var(--light-beige-color);*/
    border: 3px solid var(--lighter-beige-color);
    transform: rotate(-5deg);
    /*z-index: 40;*/

} 

div.recipe_card .paper_clip{
  width: 80px;
  height: 70px;
  position: absolute;
  left: 1%;
  top: -8px;
  margin-top: 0px;
  /*z-index: 50;*/
  background-repeat: no-repeat;
    background-image: url("paper_clip1.png");
    background-size: 100% 100%;
}

div.recipe_card h4{
    font-family: "Blue Fires", Times, serif;
    font-size: 20px;
     width: 80%;
  height: 70px;
  position: absolute;
  left: 20%;
  top: 20px;

}

div.recipe_card .recipe_card_macros{
    font-family: "Blue Fires", Times, serif;
    font-size: 13px;
     width: 80%;
  height: 70px;
  position: absolute;
  left: 20%;
  top: 50px;

}

div.recipe_card .recipe_card_text{
    font-family: "Ana's Rusty Typewriter", Times, serif;
    text-align: center;
    font-size: 15px;
     width: 100%;
  height: 60%;
  position: absolute;

  left: 0;
  top: 40%;
  overflow-y: scroll;

}

.recipes_list{
  background-repeat: repeat;
  background-image: url("3038.jpg");
  background-size: 100%;
  background-size: cover; 
  /*background-blend-mode: lighten;*/
  background-color: rgb( 0, 0, 0);

  height: 1200px;
  width: 100%;
   margin-top: 140px;

    /*transition: transform .1s;*/
 /*transition: opacity 2s ease-in;*/
 -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
      animation: fadein 1s;
}

.box_btn {
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  position: fixed;
  right: 10px;
  top: 80px;
  z-index: 100;
}

div.recipes_list .filter_menu{
  height: 100%;
  width: 100px;
  position: fixed;
  right: 0px;
  top: 0;
}


div.filter_menu .filter_icon {
    background-repeat: no-repeat;
    background-size: contain; 
    position: fixed;
    right: 0px;
    z-index: 100;
    height: 70px;
    width: 70px;
    transform: translate3d(5px, 0, 0);
    transition: transform 1.1s cubic-bezier(0, .52, 0, 1);
}

div.filter_menu .invisible{
    transform: translate3d(70px, 0, 0);
    transition: transform 1.1s cubic-bezier(0, .52, 0, 1);

}

.filter {
    background-image: url("filter_icon.png");
    top: 20%;
}

.filter_menu .all{
    background-image: url("all_icon.png");
    top: 40%;
}

.filter_menu .meat{
    background-image: url("meat_icon.png");
    top: 50%;
}
.filter_menu .chicken{
    background-image: url("chicken_icon.png");
      top: 60%;
}
.filter_menu  .fish{
    background-image: url("fish_icon.png");
    top: 70%;
}

.filter_menu  .dessert{
    background-image: url("dessert_icon.png");
    top: 80%;
}
/******************************************************************************************************/
/****************************************** PRODUCTS     ***********************************************/
/******************************************************************************************************/

div.products{
  background-repeat: repeat;
  background-image: url("3038.jpg");
  background-size: 100%;
  background-size: cover; 
  /*background-blend-mode: lighten;*/
  background-color: rgb( 0, 0, 0);

  height: 800px;
  width: 100%;
   margin-top: 140px;

    /*transition: transform .1s;*/
 /*transition: opacity 2s ease-in;*/
 -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
      animation: fadein 1s;
}

div.product_girl {
  background-repeat: no-repeat;
  background-image: url("RetroTray.png");
  background-size: 100%;
  background-size: cover; 
  /*background-blend-mode: lighten;*/

  width: 450px;
  height: 470px;
   

   position: fixed;
   bottom: 0px;
   left: 0px;
   z-index: 100;
   /*text-align: left;*/
}

div.product_list_bk {
  background-repeat: no-repeat;
  background-image: url("vintage-recipe-cards_115616.jpg");
  background-size: 100%;
  background-size: fit; 

  
  padding: 30px;
   
  border-radius: 10px;

  height: 100%;
  width: 60%;
  left:30%;
  
   position: absolute;
   text-align: left;

}
div.product_list{
  overflow: scroll;
  padding: 30px;
  font-size: 20px;
   height: 70%;
    width: 100%;
}
div.product_list li{
  list-style-type: square;
    font-family: "Ana's Rusty Typewriter", Times, serif;
    font-size: 20px;
}
div.product_list h4{
  text-align: center;
  font-family: "Blue Fires", Times, serif;
    font-size: 30px;
    color: var(--green-color);
  text-shadow: 2px 2px 3px var(--dark-brown-color); 

}
div.product_list b{
  color: var(--coral-color);
  text-shadow: 2px 2px 3px var(--dark-brown-color); 

}
/******************************************************************************************************/
/****************************************** ABOUT     ***********************************************/
/******************************************************************************************************/
div.about{
  background-repeat: repeat;
  background-image: url("3038.jpg");
  background-size: 100%;
  background-size: cover; 
  /*background-blend-mode: lighten;*/
  background-color: rgb( 0, 0, 0);

  height: 700px;
  width: 100%;
   margin-top: 140px;

    /*transition: transform .1s;*/
 /*transition: opacity 2s ease-in;*/
 -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
      animation: fadein 1s;
}

div.about p{

   font-family: "Ana's Rusty Typewriter", Times, serif;
    font-size: 16px;
}

div.about p b{

  font-family: "Blue Fires", Times, serif;
  color: var(--coral-color);
  text-shadow: 2px 2px 3px var(--dark-brown-color); 
    font-size: 25px;
}

div.old_paper {
  background-repeat: no-repeat;
  background-image: url("old-paper.jpg");
  background-size: 100%;
  background-size: cover; 
  /*background-blend-mode: lighten;*/
  background-color: rgb( 0, 0, 0);
overflow: scroll;

  height: 90%;
  width: 80%;
   /*margin-top: 140px;*/
   margin-left: auto;
      margin-right: auto;
      padding: 30px;
   position: relative;
   /*z-index: 10;*/
   text-align: left;

}

div.soup_girl {
  background-repeat: no-repeat;
  background-image: url("RetroCanning.png");
  background-size: 100%;
  background-size: cover; 
  /*background-blend-mode: lighten;*/

  width: 280px;
  height: 320px;
   

   position: fixed;
   bottom: -30px;
   right: 0px;
   z-index: 100;
   /*text-align: left;*/
}

/******************************************************************************************************/
/****************************************** FONTS AND ANI ***********************************************/
/******************************************************************************************************/


@font-face {
font-family: "Ana's Rusty Typewriter";
src: url("./rusty_typewriter.ttf");
src: 
url("./rusty_typewriter.otf") format("opentype"),
}

@font-face {
font-family: "Blue Fires";
src: url("./bluefires_sample.ttf");
src: 
url("./bluefires_sample.otf") format("opentype"),
}






.circle div {
  border-radius: 50%;
  width: 50%;
  height: auto;
  padding-top: 50%;
  background: #ef8913;
  z-index: 5;
}

.rotated_right {
  transform: rotate(5deg); /* Equal to rotateZ(45deg) */
  background-color: pink;
}
.rotated_left {
  transform: rotate(-5deg); /* Equal to rotateZ(45deg) */
  background-color: pink;
}



 
input {
 outline:none;
}


.App {
  text-align: center;
  margin: 0px;
}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



